 <div class="mt-5 mt-lg-0 d-flex justify-content-center" style="height: 100vh;">
     <div class="row w-100">
         <div class=" height d-lg-flex align-items-center">
             <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center">
                 <div class="col-11">
                     <img src="/img/lkoko-removebg-preview-removebg-preview.png" width="100%" alt="">
                 </div>
             </div>
             <div class="col-lg-6 col-12">
                 <div>
                     <h4 class="fw-bold">Welcome To <a href="#">
                             <img src="/img/photo_2023-09-09_20-46-56-removebg-preview (1).png" width="130"
                                 alt="">
                         </a>
                     </h4>
                     <p class="text-muted fw-medium">Login & start playing</p>
                 </div>
                 <a href="/auth/facebook"
                     class="col-lg-9 d-flex align-items-center border-bottom border-primary pointer justify-content-between btn-white rounded shadow-sm fw-bold mb-3 p-2 text-decoration-none">
                     <div class="d-flex">
                         <i class="fa-brands text-primary fs-4 fa-facebook me-2"></i>
                         <p class="mb-0">Continue with Facebook</p>
                     </div>
                     <i class="fa-solid fa-arrow-right"></i>
                    </a>

                 <form action="/login" method="post" class="col-lg-9">
                     <div class="form-floating mb-4">
                         <input class="form-control" required type="text" name="name" placeholder="Leave a comment here"
                             id="floatinginput"></input>
                         <label for="floatingTextarea">Enter UserName</label>
                     </div>
                     <div class="form-floating mb-3">
                         <input class="form-control" required type="password" name="password" placeholder="Leave a comment here"
                             id="floatinginput"></input>
                         <label for="floatingTextarea">Enter Password</label>
                     </div>
                     <div class="d-flex justify-content-end">
                         <a class="forgot-password" href="">
                             <p>Forgot password?</p>
                         </a>
                     </div>
                     <a href=""><button type="submit"
                             class="btn btn-white shadow-sm border-white w-25 mb-3 mb-lg-0 fw-bold rounded-3">Login</button></a>
                 </form>

             </div>
         </div>
     </div>
 </div>
