 <div class="mt-5 mt-lg-0">
     <div class="container">
         <div class="row">
             <div class=" d-lg-flex height">
                 <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
                     <div>
                         <h5 class="text fw-bold mb-0 mt-5">CRAT A FREE</h5>
                         <div class="d-flex mb-lg-2 mb-0">
                             <H1 class="me-2 text fw-bold mb-0">QUIZ</H1>
                             <H1 class="yellowtext fw-bold mb-0">NOW</H1>
                         </div>
                         <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center d-flex d-lg-none">
                             <div>
                                 <img src="/img/lkoko-removebg-preview-removebg-preview.png" width="100%"
                                     alt="">
                             </div>
                         </div>
                         <p class="text fw-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
                             Repudiandae nesciunt quos recusandae accusamus vero illum quaerat </p>
                         <a href="/register">
                             <button type="button"
                                 class="btn btn-white shadow-sm border-white rounded-3 fw-medium py-2">Sing up for
                                 free</button>
                         </a>
                     </div>
                 </div>
                 <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center d-none d-lg-flex">
                     <div>
                         <img src="/img/lkoko-removebg-preview-removebg-preview.png" width="100%" alt="">
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
